/* Body */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    font: 16px/1.15 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
}

.bubble{
    background-color: #DEF2F1;
    border: #2B7A78 solid 1px;
    border-radius: 20px;
    padding: 10px;
    width: 50%;
    margin: 10px auto;
}

footer{
    padding: 20px;
    color: #17252A;
    background-color: #3AAFA9;
    text-align: center;
}

/* Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height:38px;
    background:#17252A;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#FEFFFF;
}

h2{
    margin: 0px 0px;
    text-align: center;
}

.spaced{
    margin-top: 100px;
}

/* Animation */
.animate{
    animation: transitionIn 1.0s;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-10deg);
    }
    to {
        opacity: 1;
        transition: translateY(0);
    }
}

/* Header */
header{
    background: #3AAFA9;
    color: #17252A;
    padding-top: 30px;
    min-height: 70px;
    border-bottom:#17252A 5px solid;
    position: fixed;
    top: 0;
    width: 100%;
}

header a{
    color: #17252A;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    border-radius: 20px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #logo{
    float: left;
}

header #logo h1{
    margin: 0;
    font-size: 38px;
}

header nav{
    float: right;
    margin-top: 16px;
    margin-bottom: 16px;
}

header .current a{
    color: #FEFFFF;
    background-color: #17252A;
}

header a:hover{
    font-weight: bold;
    background-color: #DEF2F1;
}

header .current a:hover{
    font-weight: bold;
    background-color: #2B7A78;
}

/* Showcase for homepage */
#showcase{
    min-height: 400px;
    background: url('../images/landscape.jpg') no-repeat 0 0;
    text-align: center;
    color: #FEFFFF;
    margin-top: 100px;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}

/* Newsletter */
#newsletter{
    padding: 15px;
    color: #17252A;
    background: #3AAFA9;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes on homepage*/
#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 90px;
}

/* Weather */
#boxes2 .container{
    background-color: #DEF2F1;
    border: #2B7A78 solid 1px;
    border-radius: 20px;
    padding: 10px;
    width: 94%;
    margin: 10px auto 10px;
}

#boxes2 .w{
    display: inline;
    float: left;
    text-align: center;
    width: 10%;
    margin-left: 2%;
    margin-right: 2%;
}

.w h1{
    text-align: center;
}

.w img{
    max-width: 100%;
}

#o1, #o2, #o3, #o4, #o5, #o6, #o7{
    display: block;
}

#i1, #i2, #i3, #i4, #i5, #i6, #i7{
    display: none;
}

.w:hover #o1, .w:hover #o2, .w:hover #o3, .w:hover #o4, .w:hover #o5
.w:hover #o6, .w:hover #o7{
    display: none;
}

.w:hover #i1, .w:hover #i2, .w:hover #i3,  .w:hover #i4, .w:hover #i5
.w:hover #i6, .w:hover #i7{
    display: block
}

/* About */
article#main-col{
    float: left;
    width: 65%;
}

ul#about li{
    list-style: none;
    padding: 20px;
    border: #2B7A78 solid 1px;
    margin-bottom: 5px;
    background: #DEF2F1;
    border-radius: 20px;
}

ul#about img{
    width: 90px;
    float: left;
    padding: 15px;
}

aside#sidebar{
    float: right;
    width: 30%;
}

aside h3{
    margin: 0px;
}

.bubbleaside{
    background-color: #DEF2F1;
    border: #2B7A78 solid 1px;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
}

/* Parallax */
.slab{
    padding: 30px;
    color: #17252A;
    background-color: #3AAFA9;
}

.parallax{
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
}
.pA{
    background: url('../images/landscape.jpg');
    background-attachment: fixed;
    background-size: cover;
    min-height: 600px;
}

.pB{
    background: url('../images/casewestern.jpg');
    background-attachment: fixed;
    background-size: cover;
    min-height: 600px;
}

/* Form */
.bubblef{
    background-color: #DEF2F1;
    border: #2B7A78 solid 1px;
    border-radius: 20px;
    padding: 10px;
    width: 70%;
    margin: 10px auto;
    overflow: hidden;
    height: 950px;
}

.gform{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* Responsiviness */
@media(max-width: 900px){
    header #logo, header nav, header nav li,
    #newsletter h1, #newsletter form,
    #boxes .box,
    article#main-col, aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }

    .spaced{
        margin-top: 125px;
    }

    #boxes2 .w{
        display: inline-block;
        text-align: center;
        width: 10%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .w img{
        width: 100%;
    }

}
